<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Order</title>
  </head>

  <body style="margin: 0; padding: 0; height: 100vh">
    <header
      style="
        background-color: #7dbef9;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      "
    >
      <h1
        style="
          margin: 0;
          color: white;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          text-transform: uppercase;
          font-size: 20px;
          letter-spacing: 1px;
        "
      >
        Seu Pedido #{{.OrderNumber}} no Grab and Cash
      </h1>
    </header>

    <section
      style="
        width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <div style="display: flex; flex-direction: column; align-items: center">
        <h1>Olá {{.Name}}! Seu pedido foi realizado com sucesso!</h1>

        <p style="margin-top: 30px;text-align: center;"></p>
          Obrigado por comprar na Grab And Cash. Sua compra está sendo
          processada. Se você desejar cancelar a compra ou gerenciar outros
          pedidos, por favor, acesse Seus pedidos na
          https://grabandcash.vercel.app.
        </p>
      </div>

      <div
        style="
          background-color: #e4f2ff;
          width: 70%;
          height: 200px;
          padding: 15px 30px;
          margin-top: 30px;
          margin-bottom: 60px;
        "
      >
        <h5 style="margin: 0;font-size: 17px;">Resumo do Pedido</h5>

        <div style="display: grid; grid-template-columns: 1fr 1fr; margin-top: 30px; row-gap: 14px;">
          <h5 style="margin: 0;font-size: 15px;">Quantidade de Produtos:</h5>
          
          <span style="margin-left: auto;">{{.OrderQtd}} un.</span>

          <h5 style="margin: 0;font-size: 15px;">Valor total do pedido:</h5>
          
          <span style="margin-left: auto;">R$ {{.OrderValue}}</span>
        </div>
      </div>
    </section>

    <footer
      style="
        background-color: #7dbef9;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <h1
        style="
          margin: 0;
          color: white;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          text-transform: uppercase;
          font-size: 20px;
          letter-spacing: 1px;
        "
      >
        Cash and Grab {{.Year}}
      </h1>
    </footer>
  </body>
</html>
