<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Order</title>
  </head>

  <body style="margin: 0; padding: 0; height: 100vh">
    <header
      style="
        background-color: #7dbef9;
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      "
    >
      <h1
        style="
          margin: 0;
          color: white;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          text-transform: uppercase;
          font-size: 20px;
          letter-spacing: 1px;
        "
      >
        Redefina sua senha
      </h1>
    </header>

    <section
      style="
        width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-top: 30px;
        margin-bottom: 61.6vh;
      "
    >
      <div style="display: flex; flex-direction: column; padding: 0 50px">
        <h1>Clique no link abaixo</h1>

        <a href="https://grabandcash.vercel.app/resetPassword/555111"
          >Redefina sua senha na nossa plataforma</a
        >
      </div>
    </section>

    <footer
      style="
        background-color: #7dbef9;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <h1
        style="
          margin: 0;
          color: white;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          text-transform: uppercase;
          font-size: 20px;
          letter-spacing: 1px;
        "
      >
        Cash and Grab 2021
      </h1>
    </footer>
  </body>
</html>
